html{
    font-family: 'Comfortaa', sans-serif;
    font-family: 'Vina Sans', sans-serif;
}

#format{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header img{
    float: left;
    max-width: 10%;
}
header{
    height: 90px;
}


#fond{
    background-image:url(image/fondrouge.jpg);
    background-size: cover;
    overflow: hidden;
}

header img {
    max-width: 90px;
}

#txt {
    float: right;
    width: 90%;
    text-align: center;
}

#competence h2{
    color: lightslategray;
    float: left;
    background-color: #AF0000
}

